
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid rebeccapurple; */
    margin: 15px 0;
}

.product-box {
   
    /* height: 400px; */
    width: 90%;
    /* border: 1px solid rebeccapurple; */
    margin: 15px auto;
    cursor: pointer;
    
}

.product-box h3 {
    margin: 0;
}

.product-box h4 {
    margin: 5px 0;
}

.product-img {

    height: 370px;
    /* border: 1px solid rebeccapurple; */
    overflow: hidden;
    
}

.product-box img:hover {
    transform: scale(1.2);
    transition: all 500ms ease;
}


.product-img img {
    width: 100%;
    height: 100%;
}



.product-cta{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.product-cta button{
    width: 40%;
    height: 43px;
}






h4 {
    margin: 6px 0;
}

/* tablet */
@media screen and (min-width: 768px) {

.product-container {
        flex-direction: row;
        /* justify-content: space-between; */
        height: auto;

    }


    .product-box {
        width: 32%;
        /* border: 1px solid rebeccapurple;  */
        margin-bottom: 0;
    }




}